/************** footer css ****************/
.footer_part{
    text-align: center;
    // padding: 18px 0;
    padding-bottom: 0px;
    padding-top: 6px;
    background:  transparent; 
    // update 
    padding-left: 270px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: #F3F4F3;
    background: #64C5B1;
    &.default_footer{
        background: #F5F6FF;
        .footer_iner{
            background: transparent !important;
        }
    }
    @media #{'only screen and (min-width: 320px) and (max-width: 768px)'} {
        // position: relative;
        padding-left: 0 !important;
    }
    @media #{'only screen and (min-width: 992px) and (max-width: 1200px)'} {
        // position: relative;
        padding-left: 20%;
    }
    .footer_iner.text-center {
        background: #FFFFFF;
        padding: 27px 0;
        margin: 0 15px;
        border-radius: 5px;
        background: #64C5B1;
    }
    p{
        font-size: 12px;
        font-weight: 500;
        color: #fff;
        span{
            margin: 0 10px;
        }
        a{
            color: #fff;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}
/************** footer css end ****************/