/******** main content css here *********/
.main_content{
    padding-left: 270px;
    width: 100%;
    padding-top: 0px !important; 
    transition: .5s;
    // update 
    position: relative;
    min-height: 100vh;
    padding-bottom: 80px;
    // background: $white;

    &.large_header_bg{

    }

    &.main_content_padding_hide{
        padding-left: 0px;
        padding-top: 100px !important;
    }

    @media #{$tab}{
        padding: 90px 0 100px 0;
    }
    @media #{$small_mobile}{
        padding: 120px 0 100px 0;
    }
    @media #{$large_mobile}{
        padding: 120px 0 100px 0;
    }
    @media #{$tab_device}{
        padding: 120px 0 100px 0;
    }
    @media #{$medium_device}{
        padding-left: 20%;
        // padding-left: 25%;
    }
    &.default_content{
        .main_content_iner{
            margin: 0;
            border-radius: 0;
        }
    }
    .main_content_iner{
        min-height: 68vh;
        transition: .5s;
        position: relative;
        background: #F3F4F3;
        // margin: 20px 30px 30px 30px;
        margin: 0;
        z-index: 22;
        border-radius: 0px;
        padding:30px 30px;
        &.default_main_contaner_iner{
            background: #FFFFFF;
            &::before{
                display: none;
            }
        }
        &.overly_inner{
            &::before{
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                height: 160px;
                z-index: -1;
                background: #64C5B1;
                content: '';
                border-radius: 0px;
                left: 0;
            }
        }

        @media #{$tab} {
            margin: 0;
            padding: 15px;
        }
        &.main_content_iner_padding{
            @media #{$large_device} {
                padding: 0 30px 0 30px;
            }
            @media #{$extra_big_screen} {
                padding: 0 60px 0 60px;
            }
            @media #{$min_1680px} {
                padding: 0 135px 0 135px;
            }
        }
        @media #{$small_mobile} {
            margin-bottom: 20px;
        }
        @media #{$large_mobile} {
            // margin-bottom: 50px;
        }
    }
}
.address_book_hint{
    p{
        font-size: 14px;
        line-height: 26px;
        margin-bottom: 8px;
    }
}
.single_element{
    h4{
        margin-bottom: 30px;
    }
    .quick_activity_wrap{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 30px;
        margin-bottom: 30px;
        @media #{$small_mobile}{
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 15px;
            margin-bottom: 30px;
        }
        @media #{$large_mobile}{
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 15px;
            margin-bottom: 30px;
        }
        @media #{$tablet_device}{
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 15px;
            margin-bottom: 30px;
        }
        @media #{$mid_device}{
            grid-template-columns: repeat(2, 1fr);
            margin-bottom: 30px;
        }
        @media #{$large_device}{
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .single_quick_activity{
        background-color: $white;
        border-radius: 10px;
        @include transform_time(.5s);
        padding: 20px;
        position: relative;
        // box-shadow: 0 7px 35px rgba(46, 71, 101,.10);
        .notification_btn{
            position: absolute;
            right: 22px;
            top: 32px;
        }

        @media #{$small_mobile}{
            // margin-bottom: 20px;
            padding: 20px 15px;
        }
        @media #{$large_mobile}{
            // margin-bottom: 20px;
            padding: 20px 15px;
        }
        @media #{$medium_device}{
            // margin-bottom: 20px;
        }
        @media #{$tab_device}{
            // margin-bottom: 20px;
        }
        .count_content{
            position: relative;
            z-index: 9;
            margin-bottom: 40px;
            .blue_color{
                color: #20B1B9 !important;
            }
            .red_color{
                color: #FF4409 !important;
            }
            .deep_blue{
                color: #016DD8 !important;
            }
            .green_color{
                color: #01D874 !important;
            }
        }
        h3{
            font-size: 28px;
            margin-bottom: 0;
            font-weight:700;
            @include transform_time(.5s);
            color: #14256A;
            margin-bottom: 0px;
            font-family: $font_style_2;
            line-height: 1;
        }
        p{
            @include transform_time(.5s);
            font-size: 14px;
            font-weight: 700;
            color: #8890B5;
            font-family: $font_style_2;
            line-height: 1;
            margin-bottom: 15px;
        }
        &:hover{
            h3,p{
                // color: #fff;
            }
            .quick_activity_icon{
                // background-color: rgba(255, 247, 248,0.2);
                i{
                    // color: #ffffff;
                }
               
            }
        }
    }
    
}

.common_white_text{
    font-size: 18px;
    color: $white;
    font-weight: 400;
}

.text_white{
    color: #fff !important;
}
.orange_bg{
    background: #FF4409 !important;
}
.blue_bg{
    background: #016DD8 !important;
}
.green_bg{
    background: #20B1B9 !important;
}
/******** main content css end *********/
  
.datepickers-container {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1001;
}
.serach_field-area.d-flex.align-items-center span {
    display: none;
}

.page_title_box{
    padding-bottom: 30px;
}

.breadcrumb.page_bradcam{
    padding-left: 0;
    background: transparent ;
    padding: 0;
    &.default_bradcam{
        li{
            color: #59748A;
            a{
                color: #59748A;
            }
        }
        .breadcrumb-item + .breadcrumb-item::before {
            content: ">";
            color: #59748A;
        }
    }
    li{ 
        font-size: 13px;
        font-weight: 400;
        color: #fff;
        a{
            font-size: 13px;
            font-weight: 400;
            color: #fff;
        }
        // &:before{
        //     // content: ">";
        // }
    }
    .breadcrumb-item + .breadcrumb-item::before {
        content: ">";
        color: #fff;
    }
}