
$font_style_1:'Nunito', 'Noto Sans TC', 'Helvetica', 'Arial', 'Apple LiGothic Medium', '微軟正黑體', 'Microsoft Jhenghei',sans-serif;
$font_style_2:'Nunito', 'Noto Sans TC', 'Helvetica', 'Arial', 'Apple LiGothic Medium', '微軟正黑體', 'Microsoft Jhenghei',sans-serif;
$font_style_3:'Comfortaa', 'Noto Sans TC', cursive;
$white: #fff;
$black: #000;
$base_color: #2E4765;
$body_bg: #fff;

$section_bg: #fef1f2;
$section_bg_1: #F5ECEC;
$heading_color_1: #14256A;
$heading_color_2: #151B26;
$heading_color_3: #192434;

$icon_color: #D9D9D9;
$text_color: #7e7172;
$text_color_2: #222222;
$text_color_3: #707070;

$text_color_4: #707DB7;
$text_color_5: #828BB2;
$text_color_1:#707070;
$border_color: #79838b;
$border_color_1: #BBC1C9;
$border_color_2: #f1f2f3;
$border_color_3: #e4e8ec;
$border_color_4: #eee1e2;

// bg color 
$blue_bg: #3B76EF;

$big_device: '(min-width: 1200px)';
$tab: '(max-width: 991px)';
$min_tab: '(min-width: 991px)';
$small_mobile:'(max-width: 575.98px)';
$xs_mobile:'(max-width: 420px)';
$extra_big_screen2: 'only screen and (min-width: 1680px) and (max-width: 1780px)';
$extra_big_screen: 'only screen and (min-width: 1440px) and (max-width: 1679px)';
$big_screen:'only screen and (min-width: 1200px) and (max-width: 1439px)';
$medium_device : 'only screen and (min-width: 992px) and (max-width: 1200px)';
$tab_device:'only screen and (min-width: 768px) and (max-width: 991px)';

$large_mobile: 'only screen and (min-width: 576px) and (max-width: 767px)';

/* Normal desktop :1200px. */
$large_device:'(min-width: 1200px) and (max-width: 1500px)';

/* Normal desktop :992px. */
$mid_device:'(min-width: 992px) and (max-width: 1199.98px)';

/* Tablet desktop :768px. */
$tablet_device:'(min-width: 768px) and (max-width: 991.98px)';

/* small mobile :320px. */
$mobile_device:'(max-width: 767.98px)';

$min_1200px: '(min-width: 1201px)';

$min_1680px: '(min-width: 1680px)';

$black      : #000      !default;
$gray-900   : #212529   !default;
$gray-800   : #343a40   !default;
$gray-700   : #495057   !default;
$gray-600   : #6c757d   !default;
$gray-500   : #adb5bd   !default;
$gray-400   : #ced4da   !default;
$gray-300   : #dee2e6   !default;
$gray-200   : #e9ecef   !default;
$gray-100   : #f8f9fa   !default;
$white      : #fff      !default;

$red        : #dc3545   !default;
$pink       : #d63384   !default;
$orange     : #fd7e14   !default;
$yellow     : #ffc107   !default;
$green      : #198754   !default;
$teal       : #20c997   !default;
$cyan       : #0dcaf0   !default;
$blue       : #0d6efd   !default;
$indigo     : #6610f2   !default;
$purple     : #6f42c1   !default;
$brown      : #804000   !default;

// 自訂顏色

$red        : #fa3f52;
$pink       : #f5619a;
$orange     : #ff8d2f;
$yellow     : #ffd753;
$green      : #99db2e;
$teal       : #64C5B1;
$cyan       : #67d6ec;
$blue       : #6d99f7;
$indigo     : #2D1967;
$purple     : #936adf;
$brown      : #773820;

$colors : (
    "red"       : $red,
    "pink"      : $pink,
    "orange"    : $orange,
    "yellow"    : $yellow,
    "green"     : $green,
    "teal"      : $teal,
    "cyan"      : $cyan,
    "blue"      : $blue,
    "indigo"    : $indigo,
    "purple"    : $purple,
    "brown"     : $brown  
);

$primary    : $indigo;
$secondary  : $teal;
$danger     : $pink;
$warning    : $yellow;
$success    : $green;
$info       : $cyan;
$muted      : $gray-500;
$dark       : $gray-900;
$light      : $gray-100;

$theme_colors : (
    "primary"   : $primary,
    "secondary" : $secondary,
    "danger"    : $danger,
    "warning"   : $warning,
    "success"   : $success,
    "info"      : $info,
    "muted"     : $muted,
    "dark"      : $dark,
    "light"     : $light      
);
