@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --stepper-default-color: #e5e7eb;
    --stepper-active-color: #172338;
    --stepper-bar-text-color: #f9fafb;
    --stepper-circle-size: clamp(2.5rem, 4vw, 3.75rem);
}

/* --------------------------------------
            Font styles  
--------------------------------------- */

/* inter-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("/template/WebMarjorie/assets/fonts/inter-v12-latin-regular.woff2")
            format("woff2"),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
            url("/template/WebMarjorie/assets/fonts/inter-v12-latin-regular.ttf")
            format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* inter-500 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    src: url("/template/WebMarjorie/assets/fonts/inter-v12-latin-500.woff2")
            format("woff2"),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
            url("/template/WebMarjorie/assets/fonts/inter-v12-latin-500.ttf")
            format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* inter-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    src: url("/template/WebMarjorie/assets/fonts/inter-v12-latin-600.woff2")
            format("woff2"),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
            url("/template/WebMarjorie/assets/fonts/inter-v12-latin-600.ttf")
            format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* raleway-300 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Raleway";
    font-style: normal;
    font-weight: 300;
    src: url("/template/WebMarjorie/assets/fonts/raleway-v28-latin-300.woff2")
            format("woff2"),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
            url("/template/WebMarjorie/assets/fonts/raleway-v28-latin-300.ttf")
            format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* raleway-regular - cyrillic-ext_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    src: url("/template/WebMarjorie/assets/fonts/raleway-v28-cyrillic-ext_latin-regular.woff2")
            format("woff2"),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
            url("/template/WebMarjorie/assets/fonts/raleway-v28-cyrillic-ext_latin-regular.ttf")
            format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* raleway-500 - cyrillic-ext_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Raleway";
    font-style: normal;
    font-weight: 500;
    src: url("/template/WebMarjorie/assets/fonts/raleway-v28-cyrillic-ext_latin-500.woff2")
            format("woff2"),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
            url("/template/WebMarjorie/assets/fonts/raleway-v28-cyrillic-ext_latin-500.ttf")
            format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* raleway-600 - cyrillic-ext_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Raleway";
    font-style: normal;
    font-weight: 600;
    src: url("/template/WebMarjorie/assets/fonts/raleway-v28-cyrillic-ext_latin-600.woff2")
            format("woff2"),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
            url("/template/WebMarjorie/assets/fonts/raleway-v28-cyrillic-ext_latin-600.ttf")
            format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* --------------------------------------
            General Style   
--------------------------------------- */

[x-cloak] {
    display: none !important;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

:is(html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main, summary, time, mark, audio, video) {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    color: #323232;
    background-color: #f9fafb;
    line-height: 24px;
    font-size: 13px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
}

header .logo {
    width: 170px;
    height: 26.42px;

    @media (width <= 768px) {
        width: 135px;
        height: 20px;
    }
}

.content-scope {
    height: calc(100dvh - 56px);
    width: 100vw;
}

a,
a:hover,
a:visited,
a:focus,
a:active,
a:link {
    text-decoration: none;
    outline: none;
}

button {
    margin: 0;
    outline: 0;
    padding: 0;
    cursor: pointer;
    border: none;
    background: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

/* --------------------------------------
            Step Bar styles  
--------------------------------------- */

.stepper-wrapper {
    font-family: Inter;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.stepper-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.stepper-item:not(:last-child):after {
    position: absolute;
    content: "";
    border-bottom: 3px solid var(--stepper-default-color);
    width: 100%;
    top: calc(var(--stepper-circle-size) / 2);
    left: 50%;
}

.stepper-item .step-counter {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--stepper-circle-size);
    height: var(--stepper-circle-size);
    border-radius: 50%;
    background: var(--stepper-default-color);
    font-size: clamp(0.5rem, 3vw, 1.125rem);
    line-height: 1.75rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

:is(.stepper-item.active, .stepper-item.completed) .step-name {
    text-align: center;
    font-size: clamp(0.25rem, 3vw, 1rem);
    line-height: 1.5rem;
    font-weight: bold;
    white-space: nowrap;
    color: var(--stepper-active-color);
}

.stepper-item .step-name {
    text-align: center;
    font-size: clamp(0.25rem, 3vw, 1rem);
    line-height: 1.5rem;
    font-weight: bold;
    white-space: nowrap;
    color: #9ca3af;
}

:is(.stepper-item.completed, .stepper-item.active) .step-counter {
    background-color: var(--stepper-active-color);
    color: var(--stepper-bar-text-color);
}

.stepper-item.completed::after {
    position: absolute;
    content: "";
    border-bottom: 3px solid var(--stepper-active-color);
    width: 100%;
    top: calc(var(--stepper-circle-size) / 2);
    left: 50%;
    z-index: 3;
}
