th.sortStyle,
td.sortStyle {
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 1rem 1rem;
  cursor: pointer;
  padding-right: 1.5rem;
}
th.sortStyle.ascStyle,
td.sortStyle.ascStyle {
  background-image: url(../img/icon/asc.png);
}
th.sortStyle.descStyle,
td.sortStyle.descStyle {
  background-image: url(../img/icon/desc.png);
}
th.sortStyle.unsortStyle,
td.sortStyle.unsortStyle {
  background-image: url(../img/icon/bg_01.png);
}