.thumb_34 {
  width: 34px;
  height: 34px;
}

.thumb_62 {
  width: 62px;
  height: 62px;
}

.radius_50 {
  border-radius: 50%;
}

.color_text_1 {
  color: #BDA5F8 !important;
}

.color_text_2 {
  color: #FFB98A !important;
}

.color_text_3 {
  color: #64C5B1 !important;
}

.color_text_4 {
  color: #97C0FF !important;
}

.badge_btn_1 {
  font-size: 11px;
  font-weight: 700;
  background: #FFF0EB;
  display: inline-block;
  border-radius: 2px;
  padding: 5px 17px;
  color: #FF7F57;
}
.badge_btn_1:hover {
  color: #FF7F57;
}

.badge_btn_2 {
  font-size: 11px;
  font-weight: 700;
  background: #FDEBFF;
  display: inline-block;
  border-radius: 2px;
  padding: 5px 17px;
  color: #C85ED4;
}
.badge_btn_2:hover {
  color: #C85ED4;
}

.badge_btn_3 {
  font-size: 11px;
  font-weight: 700;
  background: #E6F8FF;
  display: inline-block;
  border-radius: 2px;
  padding: 5px 17px;
  color: #0893C8;
}
.badge_btn_3:hover {
  color: #0893C8;
}

.badge_btn_4 {
  font-size: 11px;
  font-weight: 700;
  background: #E8FFEB;
  display: inline-block;
  border-radius: 2px;
  padding: 5px 17px;
  color: #50D863;
}
.badge_btn_4:hover {
  color: #50D863;
}

.badge_btn_5 {
  font-size: 14px;
  font-weight: 700;
  background: #E8FFEB;
  display: inline-block;
  border-radius: 4px;
  padding: 2px 10px;
  background: #D1EEE7;
  color: #7BCA9E;
}
.badge_btn_5:hover {
  color: #7BCA9E;
}

.badge_btn_6 {
  font-size: 10px;
  font-weight: 700;
  background: #E8FFEB;
  display: inline-block;
  border-radius: 2px;
  padding: 6px 17px;
  background: #F16060;
  color: #fff;
  transition: 0.3s;
}
.badge_btn_6:hover {
  color: #fff;
  box-shadow: 0 4px 7px rgba(255, 0, 0, 0.31);
}

.badge_btn_7 {
  font-size: 10px;
  font-weight: 700;
  background: #E8FFEB;
  display: inline-block;
  border-radius: 2px;
  padding: 6px 17px;
  background: #567AED;
  color: #fff;
  transition: 0.3s;
}
.badge_btn_7:hover {
  color: #fff;
  box-shadow: 0 4px 7px rgba(86, 122, 237, 0.31);
}

.badge_btn_semi {
  font-size: 11px;
  font-weight: 700;
  background: #567AED;
  display: inline-block;
  border-radius: 2px;
  padding: 11px 70px;
  font-size: 14px;
  color: #fff;
  border-radius: 5px;
}
.badge_btn_semi:hover {
  color: #fff;
  box-shadow: 0 3px 11px #508ff4;
}

.text_color_1 {
  font-size: 11px;
  font-weight: 700;
  color: #FF6D6D !important;
}

.text_color_2 {
  font-size: 11px;
  font-weight: 700;
  color: #62D45E !important;
}

.text_color_3 {
  font-size: 11px;
  font-weight: 700;
  color: #6FA5EC !important;
}

.text_color_4 {
  color: #E64B55 !important;
}

.text_color_5 {
  color: #4BE69D !important;
}

.text_color_6 {
  color: #706F9A !important;
}

.text_color_7 {
  color: #59748A !important;
}